USE [CourseLeaf_Contacts]
GO
/****** Object:  StoredProcedure [dbo].[generate_powerbi_crosslists]    Script Date: 3/3/2026 10:44:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[generate_powerbi_crosslists]
AS
BEGIN
	SET NOCOUNT ON;

    TRUNCATE TABLE dbo.powerbi_crosslists;

	WITH crosslists AS
	(
	SELECT
		crosslist_effective_term,
		course,
		controlling_course,
		is_crosslisted,
		is_controlling
	FROM
		current_crosslists
	),
	is_not_self AS
	(
	SELECT
		crosslists.crosslist_effective_term as term,
		crosslists.course AS selected_course,
		crosslists.controlling_course AS controlling_course,
		courses.course AS courses_in_group,
		courses.is_crosslisted AS is_crosslisted,
		courses.is_controlling AS is_controlling
	FROM
		crosslists
		JOIN crosslists courses ON (
			crosslists.course <> courses.course
			AND crosslists.controlling_course = courses.controlling_course
			AND crosslists.crosslist_effective_term = courses.crosslist_effective_term
		)
	WHERE
		crosslists.controlling_course IS NOT NULL
	),
	is_self AS
	(
	SELECT
		crosslists.crosslist_effective_term as term,
		crosslists.course AS selected_course,
		crosslists.controlling_course AS controlling_course,
		courses.course AS courses_in_group,
		courses.is_crosslisted AS is_crosslisted,
		courses.is_controlling AS is_controlling
	FROM
		crosslists
		JOIN crosslists courses ON (
			crosslists.course = courses.course
			AND crosslists.controlling_course = courses.controlling_course
			AND crosslists.crosslist_effective_term = courses.crosslist_effective_term
		)
	WHERE
		crosslists.controlling_course IS NOT NULL
	),
	all_courses AS
	(
	SELECT
		*
	FROM
		is_not_self
	UNION
	SELECT
		*
	FROM
		is_self
	)
	INSERT INTO
		dbo.powerbi_crosslists (crosslist_effective_term, selected_course, controlling_course, courses_in_group, is_crosslisted, is_controlling)
	SELECT
		all_courses.*
	FROM
		all_courses
	ORDER BY
		controlling_course,
		selected_course,
		term,
		courses_in_group
	;
END
